/*  your css code here. If applicable */
*{
	background-color: rgb(204, 204, 204);
}
.heading{
	text-align:center;
}
#navbar{
	background-color:white;
	border-style:solid;
	border-width:1px;
	font-color:black;
}
 
li{
	list-style: none ; 
	background-color:white; 
}
 a{  
	 color:black;
	 text-decoration: none; 
	 text-align:left;
	 background-color:white;
 } 
figure {
	width:350px; 
	background-color:white;
	padding:1px;
	border-radius:2%;
 }
.player_one{
	background-color:rgb(255, 255, 255);  
	padding:10px ;  
}
.player_two{
	background-color:rgb(255, 255, 255); 
	padding:10px ;  
}



